// BASE COLORS
$color-white: #FFFFFF;
$color-black: #000000;

// COLORS
$color-grey-1: #282828;

$color-white-light-1: #F5F5F5;
$color-white-light-2: #EAEAEA;

$color-red-1: #D92B3A;

$color-blue-1: #023852;
