// BASE COLORS
$color-white: #FFFFFF;
$color-black: #000000;

// COLORS
$color-primary: #151A22;
$color-secondary: #023852;

$color-grey-1: #282828;

$color-white-light-1: #F5F5F5;
$color-white-light-2: #EAEAEA;

// BUTTONS
$color-button-green: #0FC47A;
$color-button-blue: #3897f0;
$color-button-red: #FF4447;
$color-button-yellow: #F3A32A;

$color-red-1: #D92B3A;
